<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/c9babfa7-7b77-4c89-8eb5-4ab77a92ac24/resourcegroups/NetworkWatcherRG/providers/Microsoft.ContainerRegistry/registries/Carboninventoryplatform20240629004534</ContainerResourceId>
    <ContainerResourceName>Carboninventoryplatform20240629004534</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>carboninventoryplatform20240629004534.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>carboninventoryplatform</ContainerName>
    <EnvironmentName>Carboninventoryplatform-env-20240629004059</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://carboninventoryplatform-app-2024.jollybush-b65c52c3.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c9babfa7-7b77-4c89-8eb5-4ab77a92ac24/resourceGroups/NetworkWatcherRG/providers/Microsoft.App/containerApps/carboninventoryplatform-app-2024</ResourceId>
    <ResourceGroup>NetworkWatcherRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>