@media (min-width: 768px) {
    .table-computer-w1024 {
        display: block;
    }

    .table-phone-w1024 {
        display: none;
    }
}

@media (max-width: 767px) {
    .table-computer-w1024 {
        display: none;
    }

    .table-phone-w1024 {
        display: block;
    }
}
    